<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas Energeticas</title>
    <link href="resources/css1/cssotra2.css" rel="stylesheet" type="text/css">
   
</head>
<body background="resources/imgs/Fondo.png">
    <div class="container"> 


        <ul class="topnav">
            <li ><a href="Refrescos.html"> <div class="logo-image">
              <img src="resources/assets/imgs/logo.svg" class="img-fluid">
        </div></a></li>
            <li class="right"><a  href="Refrescos.html" >Configuraciones</a></li>
            <li class="right"><a href="#news" class="active">Otras Bebidas</a></li>
            <li class="right"><a href="#contact">Registro</a></li>
            <li class="right"><a href="#about">Home</a></li>
          </ul>
        <section class="intro">
        </section>
        <div class="tituloo">
          <center><h1>Bebidas energeticas</h1></center>
        </div>
        <input type="text" id="myInput" onkeyup=" search_refresco() " placeholder="Search for names..">
        <center>
            <Button type="button" value="Refrescos" class="button-17" ><a href="/Bebidas">Refrescos</a></Button>
           <Button type="button" value="Bebidas Alcoholicas" class="button-17"><a href="/Bebidas2">Alcoholes</a></Button>
           <Button type="button" value="Jugos" class="button-17"><a href="/Bebidas3">Jugos</a></Button>
           <button type="button" value="Bebidas Energeticas" class="button-17"><a href="/Bebidas4">Energeticas</a></button>
          </center>
<div id="gallery">
    <div class="thumbnail"> 
      <li class="refrescos">   <h2> Amper Energy On The Go</h2> 
      <img src="resources/imgs/amper.jfif" alt="" width="2000" class="cards"/></a>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers">
        <tr>
          <th>Cafeina (mg)</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
          <td id="amper1">31.6</td>
           <td id="amper2">180 mL</td>
           <td id="amper3">80 cal</td>
           <td id="amper4">20 g</td>
        </tr>
          </table>
        <form method="post" action="ConsumoOtrasBebidas91">
        <input type="button" value="Ingresar" class="button">
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
        </select>
        </div>
      </form>
      </li>
    </div>
	     <div class="thumbnail"> 
        <li class="refrescos">  <h2> Boost Active Energy</h2> 
      <img src="resources/imgs/boost.webp" alt="" width="2000" class="cards"/></a>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers">
        <tr>
          <th>Cafeina (mg)</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
          <td id="boost1">19.1</td>
           <td id="boost2">85 mL</td>
           <td id="boost3">98 cal</td>
           <td id="boost4">4 g</td>
        </tr>
          </table>
        <form method="post" action="ConsumoOtrasBebidas92">
        <input type="button" value="Ingresar" class="button">
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
            <option values="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            <option value="2100">2100</option>
        </select>
        </div>
      </form>
        </li>
    </div>
    	    
    <div class="thumbnail"> 
      <li class="refrescos">   <h2> Redbull Energy Drink</h2> 
        <img src="resources/imgs/redbull.webp" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
            <th>Cafeina (mg)</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
            <td id="redb1">18.7</td>
             <td id="redb2">96 mL</td>
             <td id="redb3">45 cal</td>
             <td id="redb4">10 g</td>
          </tr>
            </table>
            <form method="post" action="ConsumoOtrasBebidas97">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
      </li>
      </div>   
      <div class="thumbnail"> 
        <li class="refrescos">    <h2> Juice Monster Energy</h2> 
          <img src="resources/imgs/juice mionster.webp" alt="" width="2000" class="cards"/></a>
         <br>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
              <th>Cafeina (mg)</th>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
              <td id="juicemons1">18.6</td>
               <td id="juicmons2">80 mL</td>
               <td id="juicmons3">30 cal</td>
               <td id="juicmons4">6 g</td>
            </tr>
              </table>
          <form method="post" action="ConsumoOtrasBebidas95">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
           <div class="thumbnail"> 
            <li class="refrescos">    <h2> Monster Energy</h2> 
          <img src="resources/imgs/monster.webp" alt="" width="2000" class="cards"/></a>
         <br>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
              <th>Cafeina (mg)</th>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
              <td id="mosnt1">31.6</td>
               <td id="monst2">90 mL</td>
               <td id="monst3">42 cal</td>
               <td id="monst4">11 g</td>
            </tr>
              </table>
          <form method="post" action="ConsumoOtrasBebidas96">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
            </li>
      </div>
	     <div class="thumbnail">
        <li class="refrescos">    <h2> Café</h2> 
      <img src="resources/imgs/cafe.jfif" alt="" width="2000" class="cards"/></a>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers">
        <tr>
          <th>Cafeina (mg)</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
          <td id="cafe1">2.4</td>
           <td id="cafe2">90 mL</td>
           <td id="cafe3">depende cal</td>
           <td id="cafe4">depende g</td>
        </tr>
          </table>
        <form method="post" action="ConsumoOtrasBebidas93">
        <input type="button" value="Ingresar" class="button">
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
            <option values="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            <option value="2100">2100</option>
        </select>
        </div>
      </form>
        </li>
    </div>
	    





</div>
</div>

</body>
    <script src="resources/js1/barra.js"></script>
    
 
    
</html>