<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>Configuraciones</title>

    <!-- font icons -->
    <link rel="stylesheet" href="resources/assets/vendors/themify-icons/css/themify-icons.css">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="resources/assets/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="resources/assets/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + Ollie main styles -->
	<link rel="stylesheet" href="resources/assets/css/ollie.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" >

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a href="home.html" class="navbar-brand"><img src="resources/assets/imgs/plantita.png" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regAgua">Registro&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Bebidas">Otras bebidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/configuracion">Configuraci칩n&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<header id="home" class="header">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container0">
                <div class="log2">
                <div class="table-row">
                    <div class="taable-cell">
                        <p><img class="congi" src="resources/assets/imgs/configuracion.png" height="400px" width="400px" alt=""></p>
                    </div>
                    <div class="taable-cell"><p></p></div>
                    <div class="taable-cell">
							<h3 class="le" align="center"><font color="#F2D049">Configuraciones</font></h3> <br>
                                <div id="config1" align="center"><a href="/pesoaltura"><button class="btn btn-primary" onClick="">Cambiar Peso y Altura</button></a></div>
                                <div id="config3" align="center"><a href="#"><button class="btn btn-primary" onClick="cambiaredad.html">Cambiar Edad</button></a></div> 
                                <div id="config3" align="center"><a href="/changeContra"><button class="btn btn-primary" onClick="cambiarcontrase침a.html">Cambiar Contrase침a</button></a></div> 
                                <div id="config3" align="center"><a href="/"><button  class="btn btn-priimary" onClick="index.html">Cerrar Sesi칩n</button></a></div> 
                            </div>
                    </div>
                </div>
            </div>        
        </div>
    
	</header>
    
        
	<!-- core  -->
    <script src="resources/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="resources/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="resources/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <!-- Owl carousel  -->
    <script src="resources/assets/vendors/owl-carousel/js/owl.carousel.js"></script>


    <!-- Ollie js -->
    <script src="resources/assets/js/Ollie.js"></script>

</body>
</html>
