<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>Grupos</title>

    <!-- font icons -->
    <link rel="stylesheet" href="resources/assets/vendors/themify-icons/css/themify-icons.css">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="resources/assets/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="resources/assets/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + Ollie main styles -->
	<link rel="stylesheet" href="resources/assets/css/ollie.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" >

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a href="home.html" class="navbar-brand"><img src="resources/assets/imgs/plantita.png" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regAgua">Registro&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Bebidas">Otras bebidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/configuracion">Configuración&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/grupo">Grupos&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<header id="home" class="header">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container0">
                <div class="log2">
                 
                <div class="table-row">
                    
                    <div class="taable-cell">
                        <h3 class="le" align="center"><font color="#F2D049">Grupos</font></h3> <br>
                            <br>
                            <% respuesta.forEach((user)=>{%>
                                <form action="grupos" method="post">
                                    <input type="hidden" name="codigo" value=<%=user.codigo1%> >
                                <div id="grupo"><a href="/grupos"><button class="btn btn-primary1" onClick=""><%=user.nombreGrupo%> Codigo: (<%=user.codigo1%>)</button></a></div>
                                </form>
                            <%})%>
                    </div>     
                    <div class="taable-cell">
                       
                    </div> 
                    <div class="taable-cell">
                        <div id="grupo1">
                            <br>
                            <p><img src="resources/assets/imgs/grupos.png" alt=""></p></div>
                            <a href="#modal1"><button class="hola">Crear</button> </a>
                            <a href="#modal2"><button class="hola2">Unirme</button> </a>
                        </div>
                        
                    </div>
                    
                    <div id="modal1" class="modalmask">
                        <div class="modalbox movedown">
                            <a href="#close" title="Close" class="close">X</a>
                            <br>
                            <center><h3>Crear grupo</h3></center>
                            <br>
                            <form action="crearGrupo1" method="post">
                                <label><font color="white">Inserte el nombre del grupo</font></label>
                                <input type="text" name="nombreGrupo">
                                <br><br>
                                <center> <input class="input" type="submit" value="Enviar"></center>
                        
                            </form>
                        </div></div>
                      
                        <div id="modal2" class="modalmask">
                        <div class="modalbox movedown">
                            <a href="#close" title="Close" class="close">X</a>
                            <br>
                            <center><h3>Unirme</h3></center>
                            <form action="unirseGrupo1" method="post">
                                <label><font color="white">Inserte el codigo del grupo</font></label>
                                <input type="text" name="codigo">
                                <br><br>
                                <center> <input class="input" type="submit" value="Enviar"></center>
                        
                        
                            </form>
                    </div>
                        </div>
                </div>
            </div>        
        </div>
         
    
	</header>
    
        
	<!-- core  -->
    <script src="resources/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="resources/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="resources/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <!-- Owl carousel  -->
    <script src="resources/assets/vendors/owl-carousel/js/owl.carousel.js"></script>


    <!-- Ollie js -->
    <script src="resources/assets/js/Ollie.js"></script>

</body>
</html>
