<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>Quienes somos</title>

    <!-- font icons -->
    <link rel="stylesheet" href="resources/assets/vendors/themify-icons/css/themify-icons.css">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="resources/assets/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="resources/assets/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + Ollie main styles -->
	<link rel="stylesheet" href="resources/assets/css/ollie.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="resources/assets/imgs/plantita.png" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registrarse">Registrarse</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>


    <header id="home" class="header">

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption d-none d-md-block">
                            <table align="right ">
                                <tr>
                                    <td> <img src="resources/assets/imgs/Fondo (1).png" alt="" > </td>
                                </tr>
                            </table>
                            <br><br>
                            <h1 class="carousel-title">Nosotros<br> Somos agua</h1>
                            <button class="btn btn-primary btn-rounded"><a class="link" href="#about">Learn More</a></button>
                        </div>
                    </div>
                    
                </div>
            </div>        
        </div>

        <div class="infos container mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">Nerv</h6>
                <h5></h5>
                <p class="font-small">Díaz Tiburcio Ismael Alejandro&nbsp;</p>
                <p class="font-small">Flores López Mariana&nbsp;</p>
                <p class="font-small">Pulido Robles Daniel Alfonso&nbsp;</p>
                <p class="font-small">Sansores Cruz Leonel Aaron&nbsp;</p>
                <p class="font-small">Salas Chávez José De Jesús&nbsp;</p>
<p class="font-small">&nbsp;</p>
            </div>
            <div class="socials text-right">
                <div class="row justify-content-between">
                    <div class="col">
                        <a class="d-block subtitle"><i class="ti-microphone pr-2"></i> (52)88885555</a>
                        <a class="d-block subtitle"><i class="ti-email pr-2"></i> water_reminder@gmail.com</a>
                    </div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </header>

    <section class="section" id="about">

        <div class="container">

            <div class="row align-items-center mr-auto">
                <div class="col-md-4">
                    <h1 class="xs-font1 mb-0">Nuestro Ser</h1>
                    <img src="resources/assets/imgs/Fondo (1).png" alt="" >
                </div>
                <div class="col-sm-6 col-md-4 ml-auto">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-calendar"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">¿Quienes somos?</h4>
                            <p>Nerv, somos una empresa de desarrollo de software y paginas web con el objetivo monitorear el consumo de agua por un ser humano hemos desarrollado un nuevo proyecto “REMIND WATER ver1.0 ”</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-face-smile"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Los motivos:</h4>
                            <p>¿Porque desarrollar algo asi? : 
Tras una encuesta a la poblacion se a analizado que las personas no olvidan tomar agua
pero estan interesadas en un registro de cuando si lo hacen y ahí esta nuestro cliente 
 
 </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-star"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Acerca de:</h4>
                            <p>REMINDER WATER ver1.0 o Water Reminder traducido del ingles recordador de tomar agua, es primera version de un programa que en efecto te recuerda como tomar agua !</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-user"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Water Reminder</h4>
                            <p>Nuestro proyecto actualmente REMIND WATERver1.0 ofrece al usuario un registro completo de cuanta agua consume al dia y una taza objetiva la cual se calcula a tra vez de su peso, altura y edad. Ademas se ofrece la caracteristicas de notificar al usuario si es que debe de consumir agua simple hasta llegar a la meta alcanzada</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>

   

    <section class="section" id="portfolio">

        <div >
            
               <img class="team" src="resources/assets/imgs/team.png" alt="">
            
                       

            
        </div>
    </section>


    

    <section class="section bg-overlay">

        <div class="container">
            <div class="infos mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">&nbsp;</h6>
                <h5>&nbsp;</h5>
                <p class="font-small">&nbsp;</p>
            </div>
            <div class="socials">
                <div class="row justify-content-between">
                    <div class="col">
                        <a class="d-block subtitle"><i class="ti-microphone">&nbsp;</i> </a>
                        <a class="d-block subtitle"><i class="ti-email"></i> water_reminder@gmail.com</a>
                    </div>
                    <div class="col">
                        
                        <h6 class="subtitle font-weight-normal mb-1">Ismael Díaz    <a href="mailto:diaz.tiburcio.ismael@gmail.com" class="link pr-1"><i class="ti-google"></i></a></h6>
                        <h6 class="subtitle font-weight-normal mb-1">Mariana Flores  <a href="https://www.instagram.com/maryflores895/" class="link pr-1"><i class="ti-instagram"></i></a></h6>
                        <h6 class="subtitle font-weight-normal mb-1">Daniel Pulido  <a href="mailto:pulido.robles.daniel.alfonso@gmail.com" class="link pr-1"><i class="ti-google"></i></a></h6>
                        <h6 class="subtitle font-weight-normal mb-1">Leonel Sansores  <a href="https://www.instagram.com/nosoybronce/" class="link pr-1"><i class="ti-instagram"></i></a></h6>
                        <h6 class="subtitle font-weight-normal mb-1">Jose de Jesús <a href="mailto:salas.chavez.josedejesus@gmail.com" class="link pr-1"><i class="ti-google"></i></a></h6> 
    
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </section>

    

    
	
	<!-- core  -->
    <script src="resources/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="resources/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="resources/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <!-- Owl carousel  -->
    <script src="resources/assets/vendors/owl-carousel/js/owl.carousel.js"></script>


    <!-- Ollie js -->
    <script src="resources/assets/js/Ollie.js"></script>

</body>
</html>
