<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugos</title>
    <link href="resources/css1/cssotra2.css" rel="stylesheet" type="text/css">
   
</head>
<body background="resources/imgs/Fondo.png">



    <div class="container"> 

      
<!--Navbar-->
<ul class="topnav">
    <li ><a href="Refrescos.html"> <div class="logo-image">
      <img src="resources/assets/imgs/logo.svg" class="img-fluid">
</div></a></li>
    <li class="right"><a  href="Refrescos.html" >Configuraciones</a></li>
    <li class="right"><a href="#news" class="active">Otras Bebidas</a></li>
    <li class="right"><a href="#contact">Registro</a></li>
    <li class="right"><a href="#about">Home</a></li>
  </ul>
        <section class="intro">
          
        </section>

        <div class="tituloo">
          <center><h1>Jugos</h1></center>
        </div>
        <input type="text" id="myInput" onkeyup=" search_refresco() " placeholder="Search for names..">
        <center>
            <Button type="button" value="Refrescos" class="button-17" ><a href="/Bebidas">Refrescos</a></Button>
           <Button type="button" value="Bebidas Alcoholicas" class="button-17"><a href="/Bebidas2">Alcoholes</a></Button>
           <Button type="button" value="Jugos" class="button-17"><a href="/Bebidas3">Jugos</a></Button>
           <button type="button" value="Bebidas Energeticas" class="button-17"><a href="/Bebidas4">Energeticas</a></button>
          </center>




<div id="gallery">
    <div class="thumbnail"> 
      <li class="refrescos"> <h2> Aires del Campo&nbsp;&nbsp;</h2> 
        <img src="resources/imgs/aires del campo.webp" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="aires1">78mL</td>
             <td id="aires2">100cal</td>
             <td id="aires3">25g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas71">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
      </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">  <h2> Del valle Reserva&nbsp;&nbsp;</h2> 
        <img src="resources/imgs/del valle reserva.webp" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="delval1">74 mL</td>
             <td id="delval2">92 cal</td>
             <td id="delval3">23 g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas72">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
           <div class="thumbnail"> 
            <li class="refrescos">  <h2> Del Valle&nbsp;</h2> 
        <img src="resources/imgs/del vallle.webp" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="valle1">72 mL</td>
             <td id="valle2">72 cal</td>
             <td id="valle3">18 g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas73">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
          
        </form>
            </li>
</div>

<div class="thumbnail"> 
  <li class="refrescos"> <h2> Floridas Natural&nbsp;</h2> 
  <img src="resources/imgs/floridas natural.webp" alt="" width="2000" class="cards"/></a>
 <br>
 <br>
  <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>

<br>
  <table id="customers">
    <tr>
       <th>Agua</th>
       <th>Calorias</th>
       <th>Azucar</th>
     </tr>
    <tr>
       <td id="florida1">72 mL</td>
       <td id="florida2">76 cal</td>
       <td id="florida3">19 g</td>
    </tr>
      </table>
    <form method="post" action="ConsumoOtrasBebidas74">
    <input type="button" value="Ingresar" class="button">
    <div class="caja">
      <select name="cantidad">
        <option disabled selected="">seleccione la cantidad de ml</option>
        <option values="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1200">1200</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1800">1800</option>
        <option value="1900">1900</option>
        <option value="2000">2000</option>
        <option value="2100">2100</option>
    </select>
    </div>
  </form>
  </li>
</div>
     <div class="thumbnail"> 
      <li class="refrescos"> <h2> Golden Hills uva&nbsp; &nbsp;</h2> 
  <img src="resources/imgs/golden hills jug.webp" alt="" width="2000" class="cards"/></a>
 <br>
 <br>
  <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>

<br>
  <table id="customers">
    <tr>
       <th>Agua</th>
       <th>Calorias</th>
       <th>Azucar</th>
     </tr>
    <tr>
       <td id="hills1">84 mL</td>
       <td id="hills2">88 cal</td>
       <td id="hills3">32 g</td>
    </tr>
      </table>
    <form method="post" action="ConsumoOtrasBebidas75">
    <input type="button" value="Ingresar" class="button">
    <div class="caja">
      <select name="cantidad">
        <option disabled selected="">seleccione la cantidad de ml</option>
        <option values="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1200">1200</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1800">1800</option>
        <option value="1900">1900</option>
        <option value="2000">2000</option>
        <option value="2100">2100</option>
    </select>
    </div>
  </form>
      </li>
</div>
     <div class="thumbnail"> 
      <li class="refrescos"> <h2> Golden Hills&nbsp;</h2> 
  <img src="resources/imgs/golden hills.jfif" alt="" width="2000" class="cards"/></a>
 <br>
 <br>
  <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>

<br>
  <table id="customers">
    <tr>
       <th>Agua</th>
       <th>Calorias</th>
       <th>Azucar</th>
     </tr>
    <tr>
       <td id="ghillsu1"> 84 mL</td>
       <td id="ghillsu2">88 cal</td>
       <td id="ghillsu3">22 g</td>
    </tr>
      </table>
    <form method="post" action="ConsumoOtrasBebidas76">
    <input type="button" value="Ingresar" class="button">
    <div class="caja">
      <select name="cantidad">
        <option disabled selected="">seleccione la cantidad de ml</option>
        <option values="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1200">1200</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1800">1800</option>
        <option value="1900">1900</option>
        <option value="2000">2000</option>
        <option value="2100">2100</option>
    </select>
    </div>
  </form>
      </li>

</div>
<div class="thumbnail"> 
  <li class="refrescos">  <h2> Great value uva&nbsp;</h2> 
  <img src="resources/imgs/great value uva.webp" alt="" width="2000" class="cards"/></a>
 <br>
 <br>
  <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>

<br>
  <table id="customers">
    <tr>
       <th>Agua</th>
       <th>Calorias</th>
       <th>Azucar</th>
     </tr>
    <tr>
       <td>79 mL</td>
       <td>128 cal</td>
       <td>32 g</td>
    </tr>
      </table>
    <form method="post" action="ConsumoOtrasBebidas77">
    <input type="button" value="Ingresar" class="button">
    <div class="caja">
      <select name="cantidad">
        <option disabled selected="">seleccione la cantidad de ml</option>
        <option values="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1200">1200</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1800">1800</option>
        <option value="1900">1900</option>
        <option value="2000">2000</option>
        <option value="2100">2100</option>
    </select>
    </div>
  </form>
  </li>
</div>
     <div class="thumbnail"> 
      <li class="refrescos">   <h2> Great Value&nbsp;</h2> 
  <img src="resources/imgs/great value.webp" alt="" width="2000" class="cards"/></a>
 <br>
 <br>
  <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>

<br>
  <table id="customers">
    <tr>
       <th>Agua</th>
       <th>Calorias</th>
       <th>Azucar</th>
     </tr>
    <tr>
       <td id="greatval1">76 mL</td>
       <td id="greatval2">88 cal</td>
       <td id="greatval3">22 g</td>
    </tr>
      </table>

    <form method="post" action="ConsumoOtrasBebidas78">
    <input type="button" value="Ingresar" class="button">
    <div class="caja">
      <select name="cantidad">
        <option disabled selected="">seleccione la cantidad de ml</option>
        <option values="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1200">1200</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1800">1800</option>
        <option value="1900">1900</option>
        <option value="2000">2000</option>
        <option value="2100">2100</option>
    </select>
    </div>
  </form>
      </li>
</div>
     <div class="thumbnail"> 
      <li class="refrescos"> <h2> Herdez uva&nbsp;</h2> 
  <img src="resources/imgs/herdez uva.jfif" alt="" width="2000" class="cards"/></a>
 <br>
 <br>
  <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>

<br>
  <table id="customers">
    <tr>
       <th>Agua</th>
       <th>Calorias</th>
       <th>Azucar</th>
     </tr>
    <tr>
       <td id="herdezuv1">75 mL</td>
       <td id="herdezuv2">128cal</td>
       <td id="herdezuv3">32 g</td>
    </tr>
      </table>
    <form method="post" action="ConsumoOtrasBebidas79">
    <input type="button" value="Ingresar" class="button">
    <div class="caja">
      <select name="cantidad">
        <option disabled selected="">seleccione la cantidad de ml</option>
        <option values="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1200">1200</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1800">1800</option>
        <option value="1900">1900</option>
        <option value="2000">2000</option>
        <option value="2100">2100</option>
    </select>
    </div>
  </form>
      </li>
</div>
     <div class="thumbnail"> 
      <li class="refrescos">  <h2> Herdez</h2> 
  <img src="resources/imgs/herdez.jfif" alt="" width="2000" class="cards"/></a>
 <br>
 <br>
  <h3> Cantidad de agua, Calorias y Azucares de 100 mL</h3>

<br>
  <table id="customers">
    <tr>
       <th>Agua</th>
       <th>Calorias</th>
       <th>Azucar</th>
     </tr>
    <tr>
       <td id="herdez1">80 mL</td>
       <td id="herdez2">88 cal</td>
       <td id="herdez3">22 g</td>
    </tr>
      </table>
    <form method="post" action="ConsumoOtrasBebidas80">
    <input type="button" value="Ingresar" class="button">
    <div class="caja">
      <select name="cantidad">
        <option disabled selected="">seleccione la cantidad de ml</option>
        <option disabled selected="">seleccione la cantidad de ml</option>
        <option values="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1200">1200</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1800">1800</option>
        <option value="1900">1900</option>
        <option value="2000">2000</option>
        <option value="2100">2100</option>
    </select>
    </div>
  </form>
      </li>
</div>
</div>
<div class="thumbnail"> 
  <li class="refrescos">  <h2> Jumex Mi Primer Jugo&nbsp;</h2> 
      <img src="resources/imgs/mi primer jugo.jfif" alt="" width="2000" class="cards"/></a>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers">
        <tr>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
           <td id="miprimer1">85 mL</td>
           <td id="miprimer2">80 cal</td>
           <td id="miprimer3">20 g</td>
        </tr>
          </table>
    <form method="post" action="ConsumoOtrasBebidas81">
    <p><center><input type="submit" value="Ingresar" class="button" ></center>    
      <div class="caja">
        <select name="cantidad">
          <option disabled selected="">seleccione la cantidad de ml</option>
          <option values="100">100</option>
          <option value="200">200</option>
          <option value="300">300</option>
          <option value="400">400</option>
          <option value="500">500</option>
          <option value="600">600</option>
          <option value="700">700</option>
          <option value="800">800</option>
          <option value="900">900</option>
          <option value="1000">1000</option>
          <option value="1200">1200</option>
          <option value="1400">1400</option>
          <option value="1500">1500</option>
          <option value="1600">1600</option>
          <option value="1800">1800</option>
          <option value="1900">1900</option>
          <option value="2000">2000</option>
          <option value="2100">2100</option>
      </select>
    </div>
    </form>      

  </li>
</div>
    <div class="thumbnail"> 
      <li class="refrescos">   <h2> Jumex Unico Fresco&nbsp;</h2> 
      <img src="resources/imgs/jumex nico.webp" alt="" width="2000" class="cards"/></a>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers">
        <tr>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
           <td id="jumexuni1">74 mL</td>
           <td id="jumexuni2">80 cal</td>
           <td id="jumexuni3">20 g</td>
        </tr>
          </table>
        <form method="post" action="ConsumoOtrasBebidas82">
        <input type="button" value="Ingresar" class="button">
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
            <option values="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            <option value="2100">2100</option>
        </select>
        </div>
      </form>
      </li>
    </div>
    <div class="thumbnail"> 
      <li class="refrescos">   <h2> Jumex&nbsp;</h2> 
      <img src="resources/imgs/juemx.png" alt="" width="2000" class="cards"/></a>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers">
        <tr>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
           <td id="jumex">72 mL</td>
           <td id="jumex2">92 cal</td>
           <td id="jumex3">23 g</td>
        </tr>
          </table>
        <form method="post" action="ConsumoOtrasBebidas83"></form>
        <input type="button" value="Ingresar" class="button">
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
            <option values="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            <option value="2100">2100</option>
        </select>
        </div>
      </form>
      </li>
      
    </div>
    <div class="thumbnail"> 
      <li class="refrescos"> <h2> Juemx Uva&nbsp;</h2> 
      <img src="resources/imgs/jumex uva.jpeg" alt="" width="2000" class="cards"/></a>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers">
        <tr>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
           <td id="jumexuva1">74 mL</td>
           <td id="jumexuvva2">128 cal</td>
           <td id="juemxuva3">32 g</td>
        </tr>
          </table>
        <form method="post" action="ConsumoOtrasBebidas84">
        <input type="button" value="Ingresar" class="button">
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
        </select>
      </form>
        </div>
      </li>
    </div>
    <div class="thumbnail"> 
      <li class="refrescos">    <h2> Mansanisima&nbsp;</h2> 
        <img src="resources/imgs/mansanisnima.jpg" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="mansani1">77 mL</td>
             <td id="mansani2">100 cal</td>
             <td id="mansani3">25 g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas85">
         <center> <input type="button" value="Ingresar" class="button"></center>
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
      </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">   <h2> Natural Lala&nbsp;</h2> 
        <img src="resources/imgs/naturales.jfif" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="naturalesl1">73 mL</td>
             <td id="naturales2">96 cal</td>
             <td id="naturales3">23 g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas86">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">   <h2> Smart Juice&nbsp;</h2> 
        <img src="resources/imgs/smart juice.png" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="smart1">73 mL</td>
             <td id="smart2">96 cal</td>
             <td id="smart3">24 g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas87">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">  <h2> Selecto brand</h2> 
        <img src="resources/imgs/select jugo.webp" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="selectob1">78 mL</td>
             <td id="selectob2">88 cal</td>
             <td id="selectob3">22 g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas88">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
           <div class="thumbnail">
            <li class="refrescos">    <h2> Selecto Brand uva</h2> 
        <img src="resources/imgs/selecto uva.jpg" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="selectobu1">72 mL</td>
             <td id="selectobu2">128 cal</td>
             <td id="selectobu3">32 g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas89">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <option disabled selected="">seleccione la cantidad de ml</option>
            <option values="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            <option value="2100">2100</option>
          </select>
          </div>
        </form>
            </li>
      </div>
           <div class="thumbnail"> 
            <li class="refrescos">    <h2> Treetop</h2> 
        <img src="resources/imgs/treetop.webp" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="treetop1">70 mL</td>
             <td id="treetop2">88 cal</td>
             <td id="treetop3">22 g</td>
          </tr>
            </table>
          <form method="post" action="ConsumoOtrasBebidas90">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>>
          </select>
          </div>
        </form>
            </li>
      </div>
  </div>




</div>


</div>

</body>
    <script src="resources/js1/barra.js"></script>
    
 
    
</html>