<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>  Refrescos </title>
    <!--Styelsheet-->
    <link href="resources/css1/cssotra.css" rel="stylesheet">
    <link href="resources/css1/cssotra2.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.theme.default.css">

    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body background="resources/imgs/Fondo.png">
<!--Contenedor inicial-->
 <div class="container">
<!--Navbar-->
<ul class="topnav">
  <li ><a href="Refrescos.html"> <div class="logo-image">
    <img src="resources/assets/imgs/logo.svg" class="img-fluid">
</div></a></li>
  <li class="right"><a  href="Refrescos.html">Configuraciones</a></li>
  <li class="right"><a href="/alcoholes" class="active">Otras Bebidas</a></li>
  <li class="right"><a href="/jugos">Registro</a></li>
  <li class="right"><a href="/bebidasener">Home</a></li>
</ul>

  <section class="intro">
  </section>

  <!--Barra de busqueda y Bebidas-->
  <input type="text" id="myInput" onkeyup=" search_refresco() " placeholder="Search for names..">
  <center>
    <Button type="button" value="Refrescos" class="button-17" ><a href="/Bebidas">Refrescos</a></Button>
   <Button type="button" value="Bebidas Alcoholicas" class="button-17"><a href="/Bebidas2">Alcoholes</a></Button>
   <Button type="button" value="Jugos" class="button-17"><a href="/Bebidas3">Jugos</a></Button>
   <button type="button" value="Bebidas Energeticas" class="button-17"><a href="/Bebidas4">Energeticas</a></button>
  </center>




  <div class="gallery">
     
      
    <div class="thumbnail">
     <li class="refrescos"> <h2> 7up</h2> 
      <a href="#"><img src="resources/imgs/7up.jpg" alt="" width="2000" class="cards"/></a>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers"  style="overflow-x:auto;">
        <tr>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
           <td id="7up1" >180 mL</td>
           <td id="7up2">80 cal</td>
           <td id="7up3">20 g</td>
        </tr>
          </table>
  
  
      <form method="post" action="ConsumoOtrasBebidas1">
      <p><center><input type="submit" value="Ingresar" class="button" ></center>    
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
            <option values="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            <option value="2100">2100</option>
        </select>
      </div>
      </form>      
    </li>
  
  </div>
      <div class="thumbnail"> 
        <li class="refrescos"> <h2> Aurrera Manzana</h2> 
        <a href="#"><img src="resources/imgs/Aurrera.jpg" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="aurrera1">185 mL</td>
             <td id="aurrera2">16cal</td>
             <td id="aurrera3">4g</td>
          </tr>
            </table>
  
        
       
          <form method="post" action="ConsumoOtrasBebidas2">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
      </li>
      </div>
      <div class="thumbnail">
         
        <li class="refrescos"> <h2> Big Fresh</h2> 
         <a href="#"><img src="resources/imgs/big fresh.webp" alt="" width="2000" class="cards"/></a>
        <br>
        <br>
         <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
     
       <br>
         <table id="customers">
           <tr>
              <th>Agua</th>
              <th>Calorias</th>
              <th>Azucar</th>
            </tr>
           <tr>
              <td id="big1">180 mL</td>
              <td id="big2">32cal</td>
              <td id="big3">8g</td>
           </tr>
             </table>
          <form method="post" action="ConsumoOtrasBebidas3"></form>
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        
      </li>
      </div>
      
    <div class="gallery">
      
      <div class="thumbnail"> 
        <li class="refrescos"> <h2> Coca-Cola</h2> 
        <img src="resources/imgs/coca colaa.jpg" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="coca1">170 mL</td>
             <td id="coca2">84 cal</td>
             <td id="coca3">21 g</td>
          </tr>
            </table>
        
        
       
       
          <form method="post" action="ConsumoOtrasBebidas5">
         <center> <input type="button" value="Ingresar" class="button"></center>
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        
        <li class="refrescos">  <h2>  Crush</h2> 
        <img src="resources/imgs/crush.webp" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="crush1"> 180 mL</td>
             <td id="crush2">32cal</td>
             <td id="crush3">8g</td>
          </tr>
            </table>
        
    
       
          <form method="post" action="ConsumoOtrasBebidas6">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        
        <li class="refrescos">   <h2> Dot</h2> 
        <img src="resources/imgs/dot.jpg" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="dot1">180 mL</td>
             <td id="dot2">56cal</td>
             <td id="dot3">14g</td>
          </tr>
            </table>
  
  
  
  
        
        
       
          <form method="post" action="ConsumoOtrasBebidas7">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">  <h2> dr.Pepper</h2> 
        <img src="resources/imgs/dr pepper.jfif" alt="" width="2000" class="cards">
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="pep1">176 mL</td>
             <td id="pep2">80 cal</td>
             <td id="pep3">20 g</td>
          </tr>
        </table>
        
          <form method="post" action="ConsumoOtrasBebidas8">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
         <div class="thumbnail">
          <li class="refrescos"> <h2> Fanta</h2> 
          <img src="resources/imgs/Fanta.jpg" alt="" width="2000" class="cards"/>
         <br>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="fanta1">180 mL</td>
               <td id="fanta2">92cal</td>
               <td id="fanta3">23 g</td>
            </tr>
              </table>
  
   
       
          <form method="post" action="ConsumoOtrasBebidas9">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
      </div>
         <div class="thumbnail">
          <li class="refrescos">   <h2> Fresca
          </h2> 
          <img src="resources/imgs/fresca.webp" alt="" width="2000" class="cards"/>
         <br>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="fres1">176 mL</td>
               <td id="fres2">80 cal</td>
               <td id="fres3">20 g</td>
            </tr>
              </table>
  
          <form method="post" action="ConsumoOtrasBebidas10">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
      </div>
         <div class="thumbnail"> 
          <li class="refrescos">  <h2>Jarritos</h2> 
         <img src="resources/imgs/jarritos.webp" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="jarrito1">181 mL</td>
             <td id="jarrito2">88 cal</td>
             <td id="jarrito3">22 g</td>
          </tr>
            </table>
  
          <form method="post" action="ConsumoOtrasBebidas11">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
      </div>
         <div class="thumbnail"> 
          <li class="refrescos">  <h2> Lift</h2> 
          <img src="resources/imgs/lift.webp" alt="" width="2000" class="cards"/>
         <br>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="lift1">176 mL</td>
               <td id="lift2">80 cal</td>
               <td id="lift3">20 g</td>
            </tr>
              </table>
    
          <form method="post" action="ConsumoOtrasBebidas12">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
    
      </div>
         <div class="thumbnail">
          <li class="refrescos">   <h2> Lulu</h2> 
          <img src="resources/imgs/lulu.webp" alt="" width="2000" class="cards"/>
         <br>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="lulu1">170 mL</td>
               <td id="lulu2">40 cal</td>
               <td id="lulu3">10 g</td>
            </tr>
              </table>
    
          <form method="post" action="ConsumoOtrasBebidas13">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
      </div>
         <div class="thumbnail"> 
          <li class="refrescos">     <h2> Manzanita sol</h2> 
          <img src="resources/imgs/manzanita sol.jpg" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="manzana1">180 mL</td>
             <td id="manzana2">84 cal</td>
             <td id="manzana3">21 g</td>
          </tr>
            </table>
  
          <form method="post" action="ConsumoOtrasBebidas14">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </div>
        </form>
          </li>
      </div>
         <div class="thumbnail"> 
          <li class="refrescos">   <h2> Mirinda</h2> 
          <img src="resources/imgs/mirinda.jpg" alt="" width="2000" class="cards"/>
         <br>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="mirinda1">181 mL</td>
               <td id="mirinda2">100cal</td>
               <td id="mirinda3">25 g</td>
            </tr>
              </table>
    
          <form method="post" action="ConsumoOtrasBebidas15">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
      </div>
         <div class="thumbnail"> 
          <li class="refrescos">    <h2> Orange Crush</h2> 
          <img src="resources/imgs/orange crush.jpg" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="orange1">183 mL</td>
             <td id="orange2">28cal</td>
             <td id="orange3">7g</td>
          </tr>
            </table>
  
          <form method="post" action="ConsumoOtrasBebidas16">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
      </div>
    
    <div class="gallery">
   
    <div class="thumbnail"> 
      <li class="refrescos">    <h2> Pepsi</h2> 
      <img src="resources/imgs/pepsi.jpg" alt="" width="2000" class="cards"/>
     <br>
     <br>
      <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
  
    <br>
      <table id="customers">
        <tr>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
         </tr>
        <tr>
           <td id="peps1">170 mL</td>
           <td id="peps2">92cal</td>
           <td id="peps3">23 g</td>
        </tr>
          </table>
  
      <form method="post" action="ConsumoOtrasBebidas17">
      <p><center><input type="submit" value="Ingresar" class="button" ></center>    
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
            <option values="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            <option value="2100">2100</option>
        </select>
      </div>
      </form>      
  
      </li>
  </div>
      <div class="thumbnail">
        <li class="refrescos">  <h2> Red Cola</h2> 
        <img src="resources/imgs/redcola.png" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="red1">176 mL</td>
             <td id="red2">88cal</td>
             <td id="red3">22 g</td>
          </tr>
            </table>
  
      
          <form method="post" action="ConsumoOtrasBebidas18">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">  <h2> Jarochito</h2> 
        <<img src="resources/imgs/rochito.jpg" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="jaro1">185 mL</td>
             <td id="jaro2">24 cal</td>
             <td id="jaro3">6 g</td>
          </tr>
            </table>
  
          <form method="post" action="ConsumoOtrasBebidas19"></form>
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
        
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">   <h2> Selecto Refresco</h2> 
        <img src="resources/imgs/selectorefresco.png" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="selecto1">181 mL</td>
             <td id="selecto2">88 cal</td>
             <td id="selecto3">22 g</td>
          </tr>
            </table>
  
          <form method="post" action="ConsumoOtrasBebidas20">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
          </form>
        </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">  <h2> Sidral Mundet</h2> 
        <img src="resources/imgs/sidralmundet.png" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="sid1">180 mL</td>
             <td id="sid2">80 cal</td>
             <td id="sid3">20 g</td>
          </tr>
            </table>
  
       
          <form method="post" action="ConsumoOtrasBebidas21">
         <center> <input type="button" value="Ingresar" class="button"></center>
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos"> <h2> Sangria señoral</h2> 
        <img src="resources/imgs/sngriseñorial.png" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="san1">180 mL</td>
             <td id="san2">92 cal</td>
             <td id="san3">23 g</td>
          </tr>
            </table>
  
          <form method="post" action="ConsumoOtrasBebidas22">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail">
        
        <li class="refrescos"> <h2> Soriana Naranja</h2> 
        <img src="resources/imgs/soriananaranja.png" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="soriana1">180 mL</td>
             <td id="soriana2">76cal</td>
             <td id="soriana3">18 g</td>
          </tr>
            </table>
  
  
          <form method="post" action="ConsumoOtrasBebidas23">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">  <h2> Sprite</h2> 
        <img src="resources/imgs/sprite.png" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="sprite1">176 mL</td>
             <td id="sprite2">80 cal</td>
             <td id="sprite3">20 g</td>
          </tr>
            </table>
  
          <form method="post" action="ConsumoOtrasBebidas24">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
        </li>
      </div>
      <div class="thumbnail"> 
        <li class="refrescos">     <h2>Yoli</h2> 
        <img src="resources/imgs/yoli.webp" alt="" width="2000" class="cards"/>
       <br>
       <br>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="yoli1">180 mL</td>
             <td id="yoli2">84 cal</td>
             <td id="yoli3">21 g</td>
          </tr>
            </table>
  
        <form method="post" action="ConsumoOtrasBebidas27">
        <input type="button" value="Ingresar" class="button">
        <div class="caja">
          <select name="cantidad">
            <option disabled selected="">seleccione la cantidad de ml</option>
            <option values="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            <option value="2100">2100</option>
        </select>
        </div>
      </form>
        </li>
    </div>
         <div class="thumbnail">
          <li class="refrescos">   <h2> Toni</h2> 
          <img src="resources/imgs/toni.png" alt="" width="2000" class="cards"/>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="toni1">176 mL</td>
               <td id="toni2">64 cal</td>
               <td id="toni3">16 g</td>
            </tr>
              </table>
    
          <form method="post" action="ConsumoOtrasBebidas25">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
      </div>
         <div class="thumbnail"> 
          <li class="refrescos">  <h2> Squirt</h2> 
          <img src="resources/imgs/squirt.png" alt="" width="2000" class="cards"/>
         <br>
         <br>
          <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
      
        <br>
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="squirt1">180 mL</td>
               <td id="squirt2">88 cal</td>
               <td id="squirt3">22 g</td>
            </tr>
              </table>
    
          <form method="post" action="ConsumoOtrasBebidas26">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
        </form>
          </li>
      </div>
      <div class="thumbnail">
        <li class="refrescos"> <h2> Canada Dry</h2> 
        <a href="#"><img src="resources/imgs/canada fry.jfif" alt="" width="2000" class="cards"/></a>
       <br>
       <br>
       <p>
        <h3> Cantidad de agua, Calorias y Azucares de 200 mL</h3>
    
      <br>
        <table id="customers">
          <tr>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
           </tr>
          <tr>
             <td id="canda1">176 mL</td>
             <td id="canda2">68cal</td>
             <td id="canda3">17g</td>
          </tr>
            </table>
  
       
          <form method="post" action="ConsumoOtrasBebidas4">
          <input type="button" value="Ingresar" class="button">
          <div class="caja">
            <select name="cantidad">
              <option disabled selected="">seleccione la cantidad de ml</option>
              <option values="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
              <option value="2100">2100</option>
          </select>
          </div>
      </div>
    </li>
    </div>
         
    </div>
    
      
      
</div>

  <script src="resources/js1/barra.js"></script>

</body>
</html>
