<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>Home</title>
    <link rel="stylesheet" href="resources/style.css">

    <!-- font icons -->
    <link rel="stylesheet" href="resources/assets/vendors/themify-icons/css/themify-icons.css">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="resources/assets/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="resources/assets/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + Ollie main styles -->
	<link rel="stylesheet" href="resources/assets/css/ollie.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" >

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a href="/home" class="navbar-brand" ><img src="resources/assets/imgs/plantita.png   " alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regAgua">Registro&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Bebidas">Otras bebidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/configuracion">Configuración&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/grupo">Grupos&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<header id="home" class="header">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 align="center"><font color="#F2D049">Objetivo de agua de </font></h1>
                            <h1 align="center">1200mL</h1>
                            <br>
                            <div id="animacion">
                               <h1 align="center"> <img src="resources/agua.gif" class="border" height="200px" width="200px"> </h1>
                            </div>
                            <div class="regAgua">
                                <form name="confirmarconsumo" action="/addWater" method="post">
                                    <h4 align="center">
                                        <select name="taza" id="">
                                            <option value="200">200mL</option>
                                            <option value="400">400mL</option>
                                            <option value="500">500mL</option>
                                            <option value="600">600mL</option>
                                            <option value="800">800mL</option>
                                            <option value="1000">1000mL</option>
                                            <option value="1500">1500mL</option>
                                        </select>
                                    </h3>
                                    <div align="center" id="confirmarconsumo" > 
                                        <button class="btn btn-primary" type="submit">Confirmar consumo</button>
                                    </div>
                                </form>
                            </div>
                            <form name="cambiartaza" action="">
                            <div align="center" id="cambiartaza">
                                <a href="/tazas">
                                <input type="button" value="Cambiar taza"class="btn btn-primary"></a></div>
                            </form>
                            <br>
							<form name="registrodiario" action="/"><center>
						        <table width="600" border="1">
                                    <tbody>
                                        <% consumo.forEach((user)=>{%> 
                                        <tr>
                                            <td><h2><img src="resources/agua.gif" class="border" height="70px" width="70px"></h2><br><br>&nbsp;</td>
                                            <td><%= user.consumo %></td>
                                        </tr>
                                        <%})%>
                                    </tbody>
                                </table></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    
	</header>
    <header id="home" class="header">
        <div class="overlay">
         
        </div>

        
    
        
	<!-- core  -->
    <script src="resources/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="resources/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="resources/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <!-- Owl carousel  -->
    <script src="resources/assets/vendors/owl-carousel/js/owl.carousel.js"></script>


    <!-- Ollie js -->
    <script src="resources/assets/js/Ollie.js"></script>

</body>
</html>
